.content-container{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
    &__video-title-box{
        margin: 20px 5px 5px 5px;
        padding: 10px;
        width: 40%;
    }
    &__video-title-box:focus {
        outline: 1px solid #49a8d4;
      }

    &__heading{
        font-weight: normal;
        line-height: 60px;
    }


    &__video-description-box{
        margin: 20px 5px 5px 5px;
        padding: 10px;
        width: 39%;
        height: 100px;
        margin-bottom: 20px;
    }
    &__video-description-box:focus {
        outline: 1px solid #49a8d4;
      }

    &__video-upload-button{
        width: 100px;
        padding: 8px;
        cursor: pointer;
        border: 1px solid #ffa500;
        background-color: #ffa500;
        font-size: 15px;
        border-radius: 5px;
        color: #ffffff;
        margin-bottom: 20px;

        transition: 0.3s;
    
        &:hover {
          background-color: darken(#ffa500, 10%);
          border-color: darken(#ffa500, 10%);
        }
      }

    &__save-content-btn {
        float: right;
        margin-top:40px;
        margin-right:100px;
        padding: 8px;
        padding-right:20px;
        padding-left: 20px;
        cursor: pointer;
        border: 1px solid #ffa500;
        background-color: #ffa500;
        font-size: 15px;
        border-radius: 5px;
        color: #ffffff;
        margin-bottom: 20px;
        transition: 0.3s;
        font-weight: bold;
        &:hover {
          background-color: darken(#ffa500, 10%);
          border-color: darken(#ffa500, 10%);
        }
      }
}

@media only screen and (max-width: 480px) {
    .content-container{
        margin-top: 30px;
        padding-right: 15px;
        padding-left:15px;
        &__video-title-box{
            width: 85%;
        }

        &__save-content-btn {
            margin-top:100px;
            margin-right:20px;
          }
        &__video-description-box{
            margin-top: 40px;
            width: 90%;
        }
 
        &__video-upload-btn {
            margin-top:90px;
            margin-left:10px;
          }
    }
}
