.coursecover-container{
    text-align: center;
    margin-top: 20px;
    &__description{
        margin: 20px 5px 5px 5px;
        padding: 10px;
        width: 39%;
        height: 150px;
    }
    &__upload-box{
      text-align: center;
      margin-left: 35%;
      margin-top: 20px;
      width: 400px;
      height: 300px;
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 1px solid #3e738b;

    }
    &__label{
      margin-top: 50px;
    }
    &__upload-button{
      width: 40px;
      padding: 8px;
      cursor: pointer;
      border: 1px solid #49a8d4;
      background-color: #49a8d4;
      font-size: 15px;
      border-radius: 5px;
      color: #ffffff;
      margin-bottom: 20px;
      transition: 0.3s;
  
      &:hover {
        background-color: darken(#49a8d4, 10%);
        border-color: darken(#49a8d4, 10%);
      }
    }
    
    &__description:focus {
        outline: 1px solid #49a8d4;
      }

    &__heading{
        font-weight: normal;
        line-height: 60px;
    }

    &__continue-btn {
        float: right;
        margin-top:40px;
        margin-right:100px;
        padding: 8px;
        padding-right:20px;
        padding-left: 20px;
        cursor: pointer;
        border: 1px solid #ffa500;
        background-color: #ffa500;
        font-size: 15px;
        border-radius: 5px;
        color: #ffffff;
        margin-bottom: 20px;
        transition: 0.3s;
        font-weight: bold;
        &:hover {
          background-color: darken(#ffa500, 10%);
          border-color: darken(#ffa500, 10%);
        }
      }

      &__previous-btn {
        float: left;
        margin-top:40px;
        margin-left:100px;
        padding: 8px;
        padding-right:20px;
        padding-left: 20px;
        cursor: pointer;
        border: 1px solid #ffa500;
        background-color: #ffa500;
        font-size: 15px;
        border-radius: 5px;
        color: #ffffff;
        margin-bottom: 20px;
        transition: 0.3s;
        font-weight: bold;
        &:hover {
          background-color: darken(#ffa500, 10%);
          border-color: darken(#ffa500, 10%);
        }
      }
}



@media only screen and (max-width: 480px) {
    .course-container{
        margin-top: 70px;
        padding-right: 15px;
        padding-left:15px;
        &__description{
            margin-top: 40px;
            width: 90%;
        }
 
        &__continue-btn {
            margin-top:90px;
            margin-right:10px;
          }
        &__previous-btn {
            margin-top:90px;
            margin-left:10px;
          }
    }
}