.nav {
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: #002333;

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
  }

  &__logo {
    font-size: 34px;
    font-weight: 600;
    color: #ffa500;
    margin-right: 20px;

    &--highlight {
      color: #ffffff;
    }
  }

  &__search {
    flex: 1;
  }

  &__input {
    display: block;
    width: 70%;
    margin: 0 auto 0 0;
    border: 1px solid #ffffff;
    padding: 12px 20px;
    border-radius: 50px;
    outline: none;
    background-color: #002333;
    font-size: 16px;
    color: #ffffff;

    &::placeholder {
      color: #ffffff;
    }
  }

  &__menu {
    display: flex;
    list-style-type: none;
    align-items: center;
  }

  &__menu-item {
    margin-left: 15px;
    height: max-content;
  }

  &__btn {
    padding: 8px 20px;
    border: 1px solid;
    text-decoration: none;
    color: #ffffff;
    display: block;
    border-radius: 3px;
    transition: 0.3s;

    &--outlined {
      border-color: #ffffff;

      &:hover {
        border-color: #ffa500;
        color: #ffa500;
      }
    }

    &--filled {
      border-color: #ffa500;
      background-color: #ffa500;

      &:hover {
        background-color: darken(#ffa500, 10%);
        border-color: darken(#ffa500, 10%);
      }
    }
  }
}

.row {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  .nav {
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    background-color: #002333;

    &__logo {
      font-size: 26px;
    }

    &__search {
      display: none;
    }

    &__btn {
      display: none;
    }
  }
}
