.signup-form {
  text-align: center;

  &__heading {
    font-weight: 500;
    margin-bottom: 25px;
  }

  &__input {
    width: 100%;
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #555555;
    font-size: 15px;
  }

  &__btn {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #ffa500;
    background-color: #ffa500;
    font-size: 15px;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 20px;
    transition: 0.3s;

    &:hover {
      background-color: darken(#ffa500, 10%);
      border-color: darken(#ffa500, 10%);
    }
  }
}
